In [1]:
import os
import pandas as pd
Dataset1 = pd.read_excel('my.xlsx')
Dataset2 = pd.read_excel('EXTENDED.xlsx')
MyDataset = pd.merge(Dataset1, Dataset2, how='left',on = 'ID')

In [2]:
MyDataset

,ID,Current Place,Unnamed: 2,Unnamed: 3,Place of interest,Unnamed: 5,Unnamed: 6,Food you like most,Leisure time activity,Future plan,...,Are you eager to harm yourself to defend your beliefs?,"How frequently you visit a doctor within a year""",How many people do you follow on social media?,How much time you spend in university without academic curriculum(in hour)?,Are you rich in vocabulary?,"Class note taking tendency(High,Low,Medium)","Theory class attendance(h,l,m)","Theory class interest(h,l,m)","Lab interest(h,l,m)",Preference(class lectures cl or online tutorials)
0,NaN,Place Name,Latitude,Longitude,Place Name,Latitude,Longitude,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,151340976.0,Goran,23.7503,90.4341,Cox's Bazar,21.4113,91.9959,Biriyani,Movies,Software Engineer,...,No,often,500,1.5,No,Medium,m,Medium,High,Class lectures
2,151340977.0,Banasree,22.5135,88.3015,Sea Beach,NaN,NaN,Kachchi,Sports,BCS/Business,...,Maybe,2019-02-01 00:00:00,2019-05-03 00:00:00,1-2 hours,Yes,Medium,m,Medium,High,Online tutorials
3,151340978.0,Azimpur,23.727,90.3847,Kaptai Lake,22.7552,92.277,kacchi biryani,Series,Higher Study in North America,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,151340980.0,Niketon,23.7073,90.4155,home,23.7073,90.4155,any,"movies,music",software Engineer,...,No,5 years ago last visitted,more than 100,1 hour,No,Medium,m,Medium,Medium,Online tutorials
5,151340981.0,Shaymoli,22.3014,70.8224,home,22.3014,70.8224,sea food,music,businessman,...,No,very rare,no one apart from friends,"0,rarely 1 hour",Yes,Low,medium,Medium,Low,Online tutorials
6,151340982.0,Bangshal,-32.3486,151.925,Cox's Bazar,21.4113,91.9959,Burger,Series,Entrepreneur,...,No,2,10,0,Maybe,Medium,h,High,Medium,Online tutorials
7,151340983.0,Dania,23.7014,90.4422,Bandorban,21.4796,92.5594,Biriyani,movies,Network Engineer,...,No,1,3,1,No,Low,m,Medium,High,Online tutorials
8,151340984.0,Jurain,23.6973,90.4318,Home,23.6973,90.4318,Biriyani,NaN,CEO,...,Maybe,4,50,6,Maybe,Medium,m,Medium,High,Online tutorials
9,151340985.0,Lalbag,23.7073,90.4155,Home,23.7073,90.4155,Any,All,Higher Studies,...,Maybe,once or twice a year,3,4,Yes,Low,l,Low,High,Online tutorials
10,151340986.0,Rampura,23.7612,90.4208,Home,23.7612,90.4208,Biriyani,Movies,Software Engineer,...,No,2,100,1 hour,No,Low,m,Low,High,Online tutorials
11,151340988.0,Rampura,23.7612,90.4208,Bandorban,21.4796,92.5594,Chicken,"movies, music",Software Engineer,...,No,3,100,0,No,Low,l,Low,High,Online tutorials
12,151340990.0,Dania,23.7014,90.4422,Cox's Bazar,21.4113,91.9959,khichuri,movies,job,...,No,3,10,1,No,Low,m,Medium,Medium,Online tutorials
13,151340991.0,Mohammadpur,23.7658,90.3584,Sea Beach,NaN,NaN,Fast Food,Sci Fi Movie,Higher Studies,...,Yes,0,150,2 hour,Maybe,High,h,Medium,High,Class lectures
14,151340992.0,Jigatola,23.7373,90.3716,Cox’s Bazar,21.4113,91.9959,Cheesy fries,Movies,BCS,...,No,5,100,0,Maybe,Medium,h,High,High,Online tutorials
15,151340994.0,Shamoli,23.7073,90.4155,Tejgaon,23.7331,90.3688,Biriyani,Movies,Game Development,...,No,2,50,1,No,Medium,h,Medium,High,Online tutorials
16,151340995.0,Green Corner,23.7452,90.3864,Home,23.7452,90.3864,Biriyani,Movies,BCS,...,No,2019-04-03 00:00:00,20-25,1,No,Medium,h,Medium,Medium,Class lectures
17,151340996.0,Shahjahanpur,27.8837,79.9122,Cox's Bazar,21.4113,91.9959,Biriyani,Movies,Web Development,...,No,1,10,1,No,Medium,h,Medium,Medium,Class lectures
18,151340998.0,Khilgaon,23.7073,90.4155,Home,23.7073,90.4155,Biriyani,Tv series,Higher Studies,...,No,1,2020-10-01 00:00:00,1,Maybe,Medium,h,High,Low,Class lectures
19,151341000.0,Banani,23.794,90.4043,Sea Beach,NaN,NaN,Spicy Foods,Tv series/movies,not fixed,...,Maybe,rarely,300,30min depending on time,No,High,h,Low,Medium,Online tutorials
20,151341001.0,Uttara,24.0984,90.3287,Home,24.0984,90.3287,Burger,Tv series,Entrepreneur,...,No,2,20,1,No,Low,m,Low,Medium,Online tutorials

In [4]:
MyDataset.to_excel("dataset.xlsx",sheet_name='Sheet_name_1')

In [5]:
FinalDataset = pd.read_excel('dataset.xlsx')
FinalDataset

,ID,Current Place,Unnamed: 2,Unnamed: 3,Place of interest,Unnamed: 5,Unnamed: 6,Food you like most,Leisure time activity,Future plan,...,Are you eager to harm yourself to defend your beliefs?,"How frequently you visit a doctor within a year""",How many people do you follow on social media?,How much time you spend in university without academic curriculum(in hour)?,Are you rich in vocabulary?,"Class note taking tendency(High,Low,Medium)","Theory class attendance(h,l,m)","Theory class interest(h,l,m)","Lab interest(h,l,m)",Preference(class lectures cl or online tutorials)
0,NaN,Place Name,Latitude,Longitude,Place Name,Latitude,Longitude,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,151340976.0,Goran,23.7503,90.4341,Cox's Bazar,21.4113,91.9959,Biriyani,Movies,Software Engineer,...,No,often,500,1.5,No,Medium,m,Medium,High,Class lectures
2,151340977.0,Banasree,22.5135,88.3015,Sea Beach,NaN,NaN,Kachchi,Sports,BCS/Business,...,Maybe,2019-02-01 00:00:00,2019-05-03 00:00:00,1-2 hours,Yes,Medium,m,Medium,High,Online tutorials
3,151340978.0,Azimpur,23.727,90.3847,Kaptai Lake,22.7552,92.277,kacchi biryani,Series,Higher Study in North America,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,151340980.0,Niketon,23.7073,90.4155,home,23.7073,90.4155,any,"movies,music",software Engineer,...,No,5 years ago last visitted,more than 100,1 hour,No,Medium,m,Medium,Medium,Online tutorials
5,151340981.0,Shaymoli,22.3014,70.8224,home,22.3014,70.8224,sea food,music,businessman,...,No,very rare,no one apart from friends,"0,rarely 1 hour",Yes,Low,medium,Medium,Low,Online tutorials
6,151340982.0,Bangshal,-32.3486,151.925,Cox's Bazar,21.4113,91.9959,Burger,Series,Entrepreneur,...,No,2,10,0,Maybe,Medium,h,High,Medium,Online tutorials
7,151340983.0,Dania,23.7014,90.4422,Bandorban,21.4796,92.5594,Biriyani,movies,Network Engineer,...,No,1,3,1,No,Low,m,Medium,High,Online tutorials
8,151340984.0,Jurain,23.6973,90.4318,Home,23.6973,90.4318,Biriyani,NaN,CEO,...,Maybe,4,50,6,Maybe,Medium,m,Medium,High,Online tutorials
9,151340985.0,Lalbag,23.7073,90.4155,Home,23.7073,90.4155,Any,All,Higher Studies,...,Maybe,once or twice a year,3,4,Yes,Low,l,Low,High,Online tutorials
10,151340986.0,Rampura,23.7612,90.4208,Home,23.7612,90.4208,Biriyani,Movies,Software Engineer,...,No,2,100,1 hour,No,Low,m,Low,High,Online tutorials
11,151340988.0,Rampura,23.7612,90.4208,Bandorban,21.4796,92.5594,Chicken,"movies, music",Software Engineer,...,No,3,100,0,No,Low,l,Low,High,Online tutorials
12,151340990.0,Dania,23.7014,90.4422,Cox's Bazar,21.4113,91.9959,khichuri,movies,job,...,No,3,10,1,No,Low,m,Medium,Medium,Online tutorials
13,151340991.0,Mohammadpur,23.7658,90.3584,Sea Beach,NaN,NaN,Fast Food,Sci Fi Movie,Higher Studies,...,Yes,0,150,2 hour,Maybe,High,h,Medium,High,Class lectures
14,151340992.0,Jigatola,23.7373,90.3716,Cox’s Bazar,21.4113,91.9959,Cheesy fries,Movies,BCS,...,No,5,100,0,Maybe,Medium,h,High,High,Online tutorials
15,151340994.0,Shamoli,23.7073,90.4155,Tejgaon,23.7331,90.3688,Biriyani,Movies,Game Development,...,No,2,50,1,No,Medium,h,Medium,High,Online tutorials
16,151340995.0,Green Corner,23.7452,90.3864,Home,23.7452,90.3864,Biriyani,Movies,BCS,...,No,2019-04-03 00:00:00,20-25,1,No,Medium,h,Medium,Medium,Class lectures
17,151340996.0,Shahjahanpur,27.8837,79.9122,Cox's Bazar,21.4113,91.9959,Biriyani,Movies,Web Development,...,No,1,10,1,No,Medium,h,Medium,Medium,Class lectures
18,151340998.0,Khilgaon,23.7073,90.4155,Home,23.7073,90.4155,Biriyani,Tv series,Higher Studies,...,No,1,2020-10-01 00:00:00,1,Maybe,Medium,h,High,Low,Class lectures
19,151341000.0,Banani,23.794,90.4043,Sea Beach,NaN,NaN,Spicy Foods,Tv series/movies,not fixed,...,Maybe,rarely,300,30min depending on time,No,High,h,Low,Medium,Online tutorials
20,151341001.0,Uttara,24.0984,90.3287,Home,24.0984,90.3287,Burger,Tv series,Entrepreneur,...,No,2,20,1,No,Low,m,Low,Medium,Online tutorials

In [18]:
columns = [
"Favorite transport mode",
"Food you like most",
"Sleep duration",
"Place of interest"
]
FinalDataset = FinalDataset[columns].copy()

In [19]:
FinalDataset = FinalDataset.dropna()
FinalDataset.head(30)

,Favorite transport mode,Food you like most,Sleep duration,Place of interest
1,Rickshaw,Biriyani,8.0,Cox's Bazar
6,Rickshaw,Burger,8.0,Cox's Bazar
9,Rickshaw,Any,5.0,Home
11,Rickshaw,Chicken,6.0,Bandorban
12,Rickshaw,khichuri,6.0,Cox's Bazar
17,Bus,Biriyani,5.0,Cox's Bazar
18,Rickshaw,Biriyani,8.0,Home

In [20]:
FinalDataset

,Favorite transport mode,Food you like most,Sleep duration,Place of interest
1,Rickshaw,Biriyani,8.0,Cox's Bazar
6,Rickshaw,Burger,8.0,Cox's Bazar
9,Rickshaw,Any,5.0,Home
11,Rickshaw,Chicken,6.0,Bandorban
12,Rickshaw,khichuri,6.0,Cox's Bazar
17,Bus,Biriyani,5.0,Cox's Bazar
18,Rickshaw,Biriyani,8.0,Home

In [21]:
v = FinalDataset.replace(['Biriyani','Kachchi','any','Any','khichuri'], 
                     [1,1,1,1,1])

In [22]:
FinalDataset

,Favorite transport mode,Food you like most,Sleep duration,Place of interest
1,Rickshaw,Biriyani,8.0,Cox's Bazar
6,Rickshaw,Burger,8.0,Cox's Bazar
9,Rickshaw,Any,5.0,Home
11,Rickshaw,Chicken,6.0,Bandorban
12,Rickshaw,khichuri,6.0,Cox's Bazar
17,Bus,Biriyani,5.0,Cox's Bazar
18,Rickshaw,Biriyani,8.0,Home

In [23]:
v = FinalDataset.replace(['Biriyani','Kachchi','any','Any','khichuri'], 
                     [1,1,1,1,1])

In [24]:
v

,Favorite transport mode,Food you like most,Sleep duration,Place of interest
1,Rickshaw,1,8.0,Cox's Bazar
6,Rickshaw,Burger,8.0,Cox's Bazar
9,Rickshaw,1,5.0,Home
11,Rickshaw,Chicken,6.0,Bandorban
12,Rickshaw,1,6.0,Cox's Bazar
17,Bus,1,5.0,Cox's Bazar
18,Rickshaw,1,8.0,Home

In [25]:
v1 = v.replace(['Fast Food'],[0])

In [26]:
v1

,Favorite transport mode,Food you like most,Sleep duration,Place of interest
1,Rickshaw,1,8.0,Cox's Bazar
6,Rickshaw,Burger,8.0,Cox's Bazar
9,Rickshaw,1,5.0,Home
11,Rickshaw,Chicken,6.0,Bandorban
12,Rickshaw,1,6.0,Cox's Bazar
17,Bus,1,5.0,Cox's Bazar
18,Rickshaw,1,8.0,Home

In [27]:
FinalDataset.head(20)

,Favorite transport mode,Food you like most,Sleep duration,Place of interest
1,Rickshaw,Biriyani,8.0,Cox's Bazar
6,Rickshaw,Burger,8.0,Cox's Bazar
9,Rickshaw,Any,5.0,Home
11,Rickshaw,Chicken,6.0,Bandorban
12,Rickshaw,khichuri,6.0,Cox's Bazar
17,Bus,Biriyani,5.0,Cox's Bazar
18,Rickshaw,Biriyani,8.0,Home